<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Index</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>controller.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroTurmaServlet</servlet-name>
        <servlet-class>controller.CadastroTurmaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTurmaServlet</servlet-name>
        <servlet-class>controller.ListarTurmaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroProfServlet</servlet-name>
        <servlet-class>controller.CadastroProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProfServlet</servlet-name>
        <servlet-class>controller.AlterarProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProfServlet</servlet-name>
        <servlet-class>controller.ListarProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroAlunoServlet</servlet-name>
        <servlet-class>controller.CadastroAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarAlunoServlet</servlet-name>
        <servlet-class>controller.AlterarAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAlunoServlet</servlet-name>
        <servlet-class>controller.ListarAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAlunoProfServlet</servlet-name>
        <servlet-class>controller.ListarAlunoProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTurmaProfServlet</servlet-name>
        <servlet-class>controller.ListarTurmaProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAtributoRespServlet</servlet-name>
        <servlet-class>controller.ListarAtributoRespServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>controller.Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarTurmaServlet</servlet-name>
        <servlet-class>controller.AlterarTurmaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirTurmaServlet</servlet-name>
        <servlet-class>controller.ExcluirTurmaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarTurmaServlet</servlet-name>
        <servlet-class>controller.EditarTurmaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Excluir_Usuario</servlet-name>
        <servlet-class>controller.Excluir_Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProf</servlet-name>
        <servlet-class>controller.EditarProf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirAlunoServlet</servlet-name>
        <servlet-class>controller.ExcluirAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarNotas</servlet-name>
        <servlet-class>controller.ListarNotas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroTurmaServlet</servlet-name>
        <url-pattern>/CadastroTurmaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTurmaServlet</servlet-name>
        <url-pattern>/ListarTurmaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroProfServlet</servlet-name>
        <url-pattern>/CadastroProfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProfServlet</servlet-name>
        <url-pattern>/AlterarProfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProfServlet</servlet-name>
        <url-pattern>/ListarProfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroAlunoServlet</servlet-name>
        <url-pattern>/CadastroAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarAlunoServlet</servlet-name>
        <url-pattern>/AlterarAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAlunoServlet</servlet-name>
        <url-pattern>/ListarAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAlunoProfServlet</servlet-name>
        <url-pattern>/ListarAlunoProfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTurmaProfServlet</servlet-name>
        <url-pattern>/ListarTurmaProfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAtributoRespServlet</servlet-name>
        <url-pattern>/ListarAtributoRespServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarTurmaServlet</servlet-name>
        <url-pattern>/AlterarTurmaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirTurmaServlet</servlet-name>
        <url-pattern>/ExcluirTurmaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarTurmaServlet</servlet-name>
        <url-pattern>/EditarTurmaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Excluir_Usuario</servlet-name>
        <url-pattern>/Excluir_Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProf</servlet-name>
        <url-pattern>/EditarProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirAlunoServlet</servlet-name>
        <url-pattern>/ExcluirAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarNotas</servlet-name>
        <url-pattern>/ListarNotas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
